@import 'breakpoints';

.toast-item {
	$parent: &;

	margin: 10px;
	color: #000;
	padding: 15px;
	align-items: stretch;
	display: flex;
	flex-direction: column;
	transition: transform 0.225s cubic-bezier(0, 0, 0.2, 1), background-color 0.3s;

	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
	border-radius: 8px;
	position: relative;
	overflow: hidden;
	min-width: 240px;

	// TODO: theming
	background-color: var(--clr-black);
	color: var(--clr-white);

	&__timer {
		// TODO: re-add
		display: none;
		height: 3px;
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

	&--error {
		color: var(--clr-error-contrast);
		background-color: var(--clr-error);
	}

	&--success {
		color: var(--clr-success-contrast);
		background-color: var(--clr-success);
	}

	&__title,
	&__main {
		display: flex;
		justify-content: space-between;
	}
}
